@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* 🔥 FIX: Or zyada dark aur deep purple kar diya hai */
  background-color: #06010E; 
  color: #ffffff;
  font-family: 'Sora', sans-serif;
  overflow-x: hidden;
}

/* Custom Scrollbar for premium feel */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  /* Scrollbar track ko bhi dark wale se match kara diya */
  background: #06010E; 
}
::-webkit-scrollbar-thumb {
  background: #2D2642;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #FF2E2B;
}